* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

h1,
h2 {
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;


}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;

}

/* NAVIGATION*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #1b709f;
    font-family: 'Roboto', sans-serif;

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 2;
}

/* LOGO */
.logo img {
    width: 10vw;
    height: 10vh;
    margin-left: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links li {
    border-right: 2px solid #c7c7c7;
}

.nav-links li:last-child {
    border-right: none;
}

.nav-links a {
    color: #c7c7c7;
    text-decoration: none;
    font-weight: lighter;
    padding-right: 2em;
}

.nav-links a:hover {
    color: #e68609;
}

/* BURGER MENU */
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #c7c7c7;
    margin: 5px 15px;

    transition: all 0.3s ease;
}

/* FOOTER */
footer {
    background-color: #1b709f;
    height: 5vh;
}

.footer-p {
    padding: 5px;
    text-align: center;
    color: #f0f0f0;
}

/* SPLASH */
#splash {
    background-image: url(splash/splash_uden_tekst.svg);
    max-width: none;
    height: 100vh;
    background-size: cover;
    background-position: 30% 30%;
}

#splash h1 {
    z-index: 1;
    position: absolute;
    font-size: 3em;
    top: 82%;
    right: 15%;
    color: white;
    text-transform: uppercase;
}

/* ARROW */
.arrow {
    position: absolute;
    border: solid #e68609;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 15px;

    bottom: 5%;
    left: 50%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* FAQ */
.column {
    text-align: center;
    padding: 30px;
    background-color: #57c8ef;
}

.column p {
    margin: 10px 10em 10px 10em;

}

/* TRENDING */
#trending {
    margin-top: 30px;
}

#trending h1 {
    text-align: center;
}

#trending img {
    height: 300px;
    width: 300px;
}

#trending .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
    flex-grow: 1;
    flex-basis: 300px;

    margin: 20px;
}

#trending a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #195b80;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

/* OM OS */
/* */
#omos {
    margin-top: 10vh;
    background-color: #57C8EF;

}

#omos h1 {
    padding-top: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #1b709f;
    margin-left: 300px;
    margin-right: 300px;

    font-size: 2em;
}

.sectionwrapper_omos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1vw;
    max-width: 1000px;
    margin: 0 auto;
}

.column2 {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.column2 img {
    width: 100%;
}


/* DESTINATION */
article img {
    width: 100%;
    /*            max-width: 100%;*/
    max-height: 200px;
    object-fit: cover;
}



.destination-template article {
    background-color: white;
}

.logo img {
    width: 10vw;
    height: 10vh;
}

#container img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;

}

#container {
    width: 90vw;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.destination-titel {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border-bottom: 1px solid #1b709f;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    margin-bottom: 20px;

    font-size: 2em;
}

.pris {
    font-style: oblique;
    color: darkblue;

}

#grid-article {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: block;

}

#popup article {
    width: 80vw;
    height: 80vh;
    margin: 4rem auto;
    border-radius: 5px;

    background-color: #f0f0f0;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
}

#popup section {
    flex-grow: 1;
    flex-basis: 300px;

    margin: 30px;
}

#luk {
    position: fixed;
    top: 0;
    right: 8em;
    color: #e68609;
    padding: .1em;
    cursor: pointer;
    font-family: 'Roboto Mono', sans-serif;

}

#popup h2 {
    color: #195b80
}

.filtre {
    width: 100vw;
    max-width: 1000px;
    margin: 3rem auto;
    margin-top: 1rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 10fr));
}

.filtre button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #195b80;
    font-size: 13px;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    font-family: 'Roboto Mono', monospace;
}

.valgt {
    color: #e68609;
    text-decoration: line-through;

}

#popup img {
    max-width: 100%;
    max-height: 100%;
}

.destination-body {
    background-color: #57c8ef;
    /*            z-index: 0;*/
}

.whole {
    margin-top: 10vh;
}

.kort-info p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .6em;
}

/* MEDIA Q */

/* MOBILE */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1b709f;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        border: none;
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .column {
        padding: 40px;
    }

    .sectionwrapper_omos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 1vw;
        max-width: 1000px;
        margin: 0 auto;
    }
}

.nav-active {
    transform: translateX(0);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Animationer */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1330px) {
    .nav-links {
        width: 38%;
    }

    body {
        overflow-x: hidden;
    }

    .column p {
        margin: 10px 5em 10px 5em;

    }
}

@media screen and (max-width: 1050px) {
    .nav-links {
        width: 50%;
    }

    body {
        overflow-x: hidden;
    }

    #omos h1,
    .destination-titel {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 535px) {
    .sectionwrapper_omos {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .sectionwrapper_omos .column2 {
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .column2 img {
        width: 100%;
        text-align: center;
        padding: 0 4vw;
    }

    .column2 p {
        padding: 4vw;
    }

    .column2 h2 {
        padding-left: 4vw;
    }

    .column2 h3 {
        padding-left: 4vw;
    }

    .column p {
        margin: 10px 2em 10px 2em;

    }

    #luk {
        right: 3em;

    }

    #splash h1 {
        top: 50%;
        left: 15%;
        font-size: 4em;
        text-align: center;
        border: 2.5px solid white;
        padding-bottom: 8px;
        text-transform: uppercase;
    }

}
